In [8]:
import pickle
import math
import pandas as pd
import numpy as np
from my_utils import print_red, print_cyan, print_green

"""
Inputs:
df of net load

Outputs:
CFD plot and VRE event df for fingerprint matching
"""

data = pickle.load(open("PickleJar\\netload_components_1980-2019.pickle","rb"))
VRE_profiles = data["VRE_profiles"]
load = data["load"]
cap = data["cap"]
VRE_profiles
#load
#cap
#net_load = VRE_profiles*cap - load.flatten()

tech              WONA1                                               \
I_reg           SE_NO_N      SE_S      NO_S        FI DE_N      DE_S
(1980, h0001)  0.100367  0.079545  0.111774  0.212334  NaN  0.383579
(1980, h0002)  0.097417  0.086377  0.117434  0.185126  NaN  0.354028
(1980, h0003)  0.098822  0.090033  0.119253  0.162934  NaN  0.347731
(1980, h0004)  0.092981  0.091733  0.119985  0.138412  NaN  0.373398
(1980, h0005)  0.099237  0.092282  0.127926  0.109700  NaN  0.424530
...                 ...       ...       ...       ...  ...       ...
(2019, h8756)  0.325232  0.382011  0.233305  0.250723  NaN  0.035483
(2019, h8757)  0.295737  0.402523  0.249036  0.208477  NaN  0.020835
(2019, h8758)  0.266250  0.397561  0.257390  0.186756  NaN  0.019011
(2019, h8759)  0.250323  0.389902  0.289940  0.180459  NaN  0.025758
(2019, h8760)  0.170274  0.309879  0.314093  0.134048  NaN  0.042055

tech              WONA2                                ... PVR4                \
I_reg           SE_NO_N      SE_S      NO_S        FI  ... NO_S  FI DE_N DE_S
(1980, h0001)  0.128692  0.133631  0.174208  0.221306  ...  NaN NaN  NaN  NaN
(1980, h0002)  0.121655  0.143137  0.183693  0.196303  ...  NaN NaN  NaN  NaN
(1980, h0003)  0.122158  0.144026  0.188449  0.179667  ...  NaN NaN  NaN  NaN
(1980, h0004)  0.114847  0.144438  0.189757  0.161734  ...  NaN NaN  NaN  NaN
(1980, h0005)  0.120024  0.144129  0.202744  0.140091  ...  NaN NaN  NaN  NaN
...                 ...       ...       ...       ...  ...  ...  ..  ...  ...
(2019, h8756)  0.500102  0.593759  0.441610  0.512525  ...  NaN NaN  NaN  NaN
(2019, h8757)  0.464066  0.624499  0.471085  0.493163  ...  NaN NaN  NaN  NaN
(2019, h8758)  0.428888  0.627238  0.485306  0.476742  ...  NaN NaN  NaN  NaN
(2019, h8759)  0.401988  0.585186  0.507963  0.499635  ...  NaN NaN  NaN  NaN
(2019, h8760)  0.311076  0.539395  0.532663  0.439585  ...  NaN NaN  NaN  NaN

tech             PVR5
I_reg         SE_NO_N SE_S NO_S  FI DE_N DE_S
(1980, h0001)     NaN  NaN  NaN NaN  NaN  NaN
(1980, h0002)     NaN  NaN  NaN NaN  NaN  NaN
(1980, h0003)     NaN  NaN  NaN NaN  NaN  NaN
(1980, h0004)     NaN  NaN  NaN NaN  NaN  NaN
(1980, h0005)     NaN  NaN  NaN NaN  NaN  NaN
...               ...  ...  ...  ..  ...  ...
(2019, h8756)     NaN  NaN  NaN NaN  NaN  NaN
(2019, h8757)     NaN  NaN  NaN NaN  NaN  NaN
(2019, h8758)     NaN  NaN  NaN NaN  NaN  NaN
(2019, h8759)     NaN  NaN  NaN NaN  NaN  NaN
(2019, h8760)     NaN  NaN  NaN NaN  NaN  NaN

[350640 rows x 120 columns]

In [ ]:
net_load=((-1)*df_disp['bat_ch'])
#net_load=(df_disp['WG_peak'])
d = {'net load': net_load,'count1':0,'count2':0}
df_netload = pd.DataFrame(data=d)
#maxind, maxval = max(net_load, key=lambda item: item[1])
maxval=int(math.ceil(df_disp['netload'].max()))
minval=int(math.floor(df_disp['netload'].min()))
amps = np.arange(minval, maxval, 0.1).tolist()

In [ ]:
#kolla på diffen av detta
df_freq = pd.DataFrame()
output = {}
for amp in amps:
    d = {'net load': net_load,'count1':0,'count2':0}
    df_netload = pd.DataFrame(data=d)
    s=[]
    
    dfrows=df_netload.index
    rowbefore='d001b'
#ökande siffra när värde över amp
    for row in dfrows:
        if amp>0 and df_netload.at[row,'net load']>amp:
#            df_netload.set_value(row, 'count1', df_netload.at[rowbefore,'count1']+1)
            df_netload.at[row, 'count1']= df_netload.at[rowbefore,'count1']+1
        elif amp<0 and df_netload.at[row,'net load']<amp:
#            df_netload.set_value(row, 'count1', df_netload.at[rowbefore,'count1']+1)
            df_netload.at[row, 'count1']= df_netload.at[rowbefore,'count1']+1
        rowbefore=row

    rowbefore='d001b'
#varje periods längd vid sluttillfället
    for row in dfrows:
        if amp >0 and df_netload.at[rowbefore,'net load']>amp and df_netload.at[row,'net load']<amp:
#            df_netload.set_value(rowbefore, 'count2', df_netload.at[rowbefore,'count1'])
            df_netload.at[rowbefore, 'count2']= df_netload.at[rowbefore,'count1']
        elif amp<0 and df_netload.at[rowbefore,'net load']<amp and df_netload.at[row,'net load']>amp:
#            df_netload.set_value(rowbefore, 'count2', df_netload.at[rowbefore,'count1'])
            df_netload.at[rowbefore, 'count2']= df_netload.at[rowbefore,'count1']
        rowbefore=row
        
    s=df_netload.count2.value_counts() 
    df_freq=pd.DataFrame(data=s)
#    s_form=list(s)
    output[amp]=df_freq

In [ ]:
#df_out=pd.DataFrame(data=output, index=[amp])
df_out = pd.DataFrame()
df_out_tot = pd.DataFrame()
output2 = {}
for amp in amps:
    df_out = output[amp] 
    df_out = df_out.iloc[1:]
    df_out.index.name = 'Duration'
    df_out = pd.concat([df_out], keys=[amp], names=['Amplitude'])
    df_out.rename(columns={'count2':'Occurences'}, inplace=True)
    df_out_tot=df_out_tot.append(df_out)
#    output2[amp] = df_out
#df_out[0]
df_out_tot

In [ ]:
df_reset = df_out_tot.reset_index()
df_reset.columns = ['Amplitude', 'Duration', 'Occurrence']
df_pivot=df_reset.pivot('Amplitude', 'Duration')

X=df_pivot.columns.levels[1].values
Y=df_pivot.index.values
Z=df_pivot.values
#df1['A'] = df1['A'].apply(lambda x: [y if y <= 9 else 11 for y in x])
Z_BAT=np.where(Z > 50, 50, Z)
X_BAT,Y_BAT = np.meshgrid(X, Y)

In [ ]:
plt.contourf(Ynetload, Xnetload, Znetload, alpha=0.7, cmap=plt.cm.jet);